main, header, footer{
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

footer{
	font-size: 0.8em;
}

#main_video{
	margin: 0 auto;
}

#main-gif{
	margin: 0 auto;
}

ul{
	list-style: none;
	width: 70%;
	margin: 0 15%;
	overflow: hidden;
}

li{
	float: left;
	width: 50%;
	text-align: center;
}

li a
{
	text-decoration: under;
	color: black;
	font-weight: 800;
}